body{
    background-image: url(./assets/background.png);
    /*background-color: #E5F0F3;*/
    margin: 0px;
}

header{
    background-color: rgba(230, 230, 230, .7);
    text-align: center;
    flex-direction: initial;
    position: relative;
    width: 400px;
    left: 35%;
    
}

main{
    /*background-color: gray;*/
    margin: 20px;
    padding: 15px;
}

footer{
    background-color: #7c8689;
    width: 100%;
    /*margin: 20px;*/
    padding: 15px;
}

.image-profile{
    width: 190px;
    border-radius: 12rem;
    margin: 20px;
}

.profile-description{
    margin: 10px;
}

.u_list{
    list-style: none;
}

.intro{
    background-color: rgba(230, 230, 230, .9);
    display: flex;
    flex-direction: row;
}

.body-structure{
    background-color: rgba(230, 230, 230, .9);
    padding: 40px;
    
}

.aside-structure{
    
    background-color: rgba(230, 230, 230, .9);
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.contacts{
    margin: 15px;
    display: flex;
    flex-direction: row;
}

.logo{
    background-color: transparent;
    width: 15px;
    height: 15px;
}

.link{
    text-decoration: none;
}

.telephone{
    /*background-color: white;*/
    margin: 20px;
}

.website{
    /*background-color: white;*/
    margin: 20px;
    /*position: absolute;*/
}

.e-mail{
    /*background-color: white;*/
    margin: 20px;
    /*position: absolute;*/
}

.github{
    /*background-color: white;*/
    margin: 20px;
    /*position: absolute;*/
}

#software-skills{
    /*background-color: white;*/
    margin: 20px;
    padding: 5px 8%;
    border: 33%;
}

#soft-skills{
    /*background-color: white;*/
    margin: 20px;
    border: 33%;
    padding: 5px 8%;
    position: absolute;
    left: 30%;
}

#lenguagues{
    /*background-color: white;*/
    margin: 20px;
    border: 33%;
    padding: 5px;
    width: 100;
    position: absolute;
    left: 70%;
}